@font-face {
    font-family: josefin;
    src: url("fonts/JosefinSans-Regular.ttf");
}

* {
    font-family: josefin;
    text-align: center;
}

body {
    width: calc(100% - 40px);
    margin: 0;
    padding: 20px;
}

body, div {
    display: flex;
    flex-direction: column;
}

a {
    font-size: 2em;
}

p, h1 {
    user-select: none;
}

#droparea {
    width: calc(100% - 10px);
    min-height: 100px;
    border: 5px dashed grey;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.5s;
}

.highlight {
    background-color: #ddd;
}

.centered {
    margin:auto;
}
