@font-face {
    font-family: josefin;
    src: url("fonts/JosefinSans-Regular.ttf");
}

* {
    font-family: josefin;
}

body {
    width: calc(100% - 40px);
    margin: 0;
    padding: 20px;
}

body, div {
    display: flex;
    flex-direction: column;
}

a {
    font-size: 2em;
}

p, h1 {
    user-select: none;
}

h1, button, .centered, .textcenter {
    text-align: center;
}

#droparea {
    width: calc(100% - 10px);
    min-height: 100px;
    border: 5px dashed grey;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.5s;
    padding-top: 5px;
    padding-bottom: 5px;
}

.highlight {
    background-color: #ddd;
}

.centered {
    margin:auto;
}

.flex {
    display: flex;
    flex-direction: row;
}

.padded {
    margin: 0;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.grow {
    flex-grow: 1;
}

.removebutton {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
}
